* {
  box-sizing: border-box;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
}

html,
body {
  margin: 0;
  padding: 0;
  background-color: rgb(46, 46, 46);
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

h1,
h2,
h3,
h4 {
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  margin: 0%;
}

#app {
  background-color: #535353;
  padding: 5%;
  border-radius: 10px;
  box-shadow: 0px 1px 20px 0px rgb(0 0 0 / 50%);
  height: 90%;
  width: 60%;
  color: rgb(255, 255, 255);
}

main {
  height: 100%;
}

h1 {
  margin-top: 0;
  margin-bottom: 5%;
  padding-bottom: 5%;
  border-bottom: 5px solid #80808054; 
}

a {
  color: rgb(231, 231, 231);
  text-decoration: none;
  display: flex;
}

form input {
  flex: 1;
  padding: 5px;
  border-radius: 5px;
  border: 0;
  margin-right: 5px;
}

form select {
  flex: 1;
  padding: 5px;
  border-radius: 5px;
  border: 0;
  margin-right: 5px;
}

ul , table{
  padding: 5%;
  overflow-y: scroll;
  overflow-x: hidden;
  height: 65%;
  width: 100%;
  background-color: #797777;
  border-radius: 1em;
  margin-top: 5%;
  margin-bottom: 5%;
}

ul li , table tr{
  list-style: none;
}

tr{
  display: flex;
}

li , tr{
  border-radius: 1em;
  background-color: rgb(102, 102, 102);
  margin-bottom: 1%;
  padding: 10px;
  display: flex;
  border: solid #000;
  border-width: 0px;
}

li:hover , tr:hover{
  border-width: 2px;
  padding: 8px;
}

label {
  cursor: pointer;
}

.thirdHeight {
  height: 33%;
}

.fullWidth {
  width: 100%;
}

.halfWidth {
  width: 50%;
}

.thirdWidth {
  width: 33%;
}

.fitContent{
  width:fit-content;
  height: fit-content;
}

.buttonStyle {
  background-color: #797777;
  color: white;
  border-radius: 1em;
  border-style: solid;
  border-width: 0px;
  padding: 10px;
  font-size: medium;
}

.tinyMargin{
  margin-top: 2.5%;
  margin-bottom: 2.5%;
}